<div data-ng-app="login" data-ng-controller="loginCtrl">
    <!-- <form id="msform">
        <fieldset>
            <h2 class="fs-title">PLEASE LOGIN</h2>
            <h3 class="fs-subtitle">Though of no use</h3>                
            <div><input type = "text" placeholder="Username" data-ng-model="username"></div>
            <div><input type = "password" placeholder="Password" data-ng-model="password"></div>
            <button >Login</button>
            <input type="button" name="next" class="next action-button" value="Next" data-ng-click="login()" />
        </fieldset>
    </form> -->

    <div id="login-div">
        <form id="login-form">
            <h2>PLEASE LOGIN</h2>
            <h3>Though of no use here</h3>                
            <div class="holder"><input type = "text" placeholder="&nbsp;&nbsp;Username" data-ng-model="username"></div>
            <div class="holder"><input type = "password" placeholder="&nbsp;&nbsp;Password" data-ng-model="password"></div>
            <input id="login-button" type="button" name="next" value="Next" data-ng-click="login()" />
        </form>
    </div>

</div>

